@{
    ViewData["Title"] = "E-posta Doğrulma";
    Layout =null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendEmail</title>
</head>
<body>

        <div class="row ">
        <div class="col-lg-8 offset-2 text-center alert alert-success">
            <h1>
                E-posta doğrulama linki e-posta adresninize gönderilmiştir. <br />
                Giriş yapmak için e-posta adresiniz doğrulayınız.
            </h1>
        </div>


    </div>

</body>
</html>
