@model NewPasswordVM
@{
    ViewData["Title"] = "ResetPasswordConfirm";
}
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-area="" asp-action="ResetPasswordConfirm" asp-controller="Password" method="post" class="mt-3">

            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="UserId" />

            <div class="mt-3 form-group">
                <label> YENİ ŞİFRE </label>
                <input class="form-control" type="text" asp-for="Password" placeholder="Şifrenizi Giriniz">
            </div>

            <span asp-validation-for="Password" class="text-danger"></span>


            <div class="mt-3 form-group">
                <label> ŞİFRE TEKRAR </label>
                <input class="form-control" type="text" asp-for="PasswordConfirm" placeholder="Şifrenizi Tekrar Giriniz">
            </div>

            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>

            <div class="mt-3">
                <input class="btn btn-primary" type="submit" value="Gönder">
            </div>
        </form>
    </div>
</div>
